@model GhostStory.Models.VMChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="text-white" style="background-color:rgb(255, 255, 255,0.6)">

        
        <div class="form-horizontal">
            <h4 class="alert alert-danger">會員變更個人密碼 @ViewBag.ErrMsg01</h4> 
      
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group ">
           <h4> @Html.LabelFor(model => model.OriginalPassword, htmlAttributes: new { @class = "control-label col-md-2 badge badge-secondary" }) <span class="badge badge-pill badge-dark">@ViewBag.ErrMsg</span></h4> 
    <div class="col-md-12">
        @Html.EditorFor(model => model.OriginalPassword, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.OriginalPassword, "", new { @class = "text-white badge-danger" })
    </div>
</div>

            <div class="form-group">
                <h4>
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 badge badge-secondary" })</h4>
    <div class="col-md-12">
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-white badge-danger" })
    </div>
</div>

            <div class="form-group">
                <h4>
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2 badge badge-secondary" })</h4>
    <div class="col-md-12">
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-white badge-danger" })
    </div>
</div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="確定變更密碼" class="btn btn-warning" />

                    @Html.ActionLink("取消變更", "Index","", new {@class= "btn btn-info" })
                </div>
            </div>
        </div>

    </div>
}





<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
